/*  =================================================
    Font Family
    =================================================   */
@font-face {
    font-family: 'JetBrains Mono';
    src: url('../assets/fonts/JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: 700;
}

/*  =================================================
    Custom Properties (Variables)
    =================================================   */
:root {
    --white: hsl(0, 100%, 100%);
    --black: hsl(0, 0%, 0%);

    --grey-200: hsl(252, 11%, 91%);
    --grey-600: hsl(251, 9%, 53%);
    --grey-700: hsl(248, 5%, 34%);
    --grey-800: hsl(248, 10%, 15%);
    --grey-850: hsl(248, 15%, 11%);
    --grey-900: hsl(248, 17%, 9%);
    --grey-950: hsl(255, 22%, 4%);

    --green-200: hsl(127, 100%, 82%);

    --yellow-300: hsl(42, 91%, 68%);

    --orange-400: hsl(13, 95%, 66%);

    --red-500: hsl(0, 91%, 63%);
}

/*  =================================================
    CSS Reset
    =================================================   */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* 11. 10 pixels = 1rem */
html {
  font-size: 62.5%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

/*  =================================================
    Typography Utilities
    =================================================   */
.text-preset-1 {
    font-size: 3.2rem;
    line-height: 4.2rem;
}

.text-preset-2 {
    font-size: 2.4rem;
    line-height: 3.2rem;
}

.text-preset-3 {
    font-size: 1.8rem;
    line-height: 2.4rem;
}

.text-preset-4 {
    font-size: 1.6rem;
    line-height: 2.0rem;
}